.page-template-page-jobs #hero-small.bgimage {
    background-image: url(assets/masthead-jobs.jpg?tr=w-2000,h-778,f-webp)
}

@media only screen and (max-width: 600px) {
    .page-template-page-jobs #hero-small.bgimage {
        background-image:url(assets//masthead-jobs.jpg?tr=w-815,h-815,f-webp)
    }
}
